@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Regular.woff') format('woff'),
    url('/fonts/DMMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Serif Display';
  src: url('/fonts/DMSerifDisplay-Regular.woff') format('woff'),
    url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Serif Display';
  src: url('/fonts/DMSerifDisplay-Italic.woff') format('woff'),
    url('/fonts/DMSerifDisplay-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Grand Slang';
  src: url('/fonts/GrandSlang-Roman.woff') format('woff'),
    url('/fonts/GrandSlang-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Grand Slang Italic';
  src: url('/fonts/GrandSlang-Italic.woff') format('woff'),
    url('/fonts/GrandSlang-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

:root {
  --background: #a47864;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a47864;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: none;
}

a {
  cursor: none !important;
  display: inline-block;
  transition: font-style 0.3s ease;
}

h1 {
  font-family: 'DM Mono', sans-serif;
  font-size: 24px;
  letter-spacing: 0.3rem;
}

h2 {
  font-family: 'DM Mono', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 24px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  line-height: 1.6;
}

.about-card {
  text-align: left;
  font-size: 12px;
  line-height: 1.6;
  overflow: hidden;
  white-space: nowrap;
}

/* Main layout container */
.combined-layout {
  display: flex;
  justify-content: space-between; /* Spread the two components to opposite sides */
  align-items: stretch; /* Ensure full height alignment */
  height: 100vh; /* Full height layout */
}

/* Right-side navigation styling */
.right-side-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: flex-end; /* Align links to the right */
}

.main-links {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between links */
}

.main-links a {
  font-size: clamp(2rem, 6vw, 5rem);
  min-width: 60vw;
  font-family: 'Grand Slang', sans-serif;
  display: inline-block; /* Ensures transform applies properly */
  z-index: 100;
  color: var(--charcoal);
  text-align: left;
  text-transform: uppercase;
  border: 0 solid #000;
  font-weight: 300;
  line-height: 0.95em;
  text-decoration: none;
  transition: font-family 0.2s ease-in-out, transform 0.2s ease-in-out,
    color 0.2s ease-in-out, font-size 0.2s ease-in-out;
  position: relative;
}

.main-links a:hover {
  font-family: 'Grand Slang Italic', sans-serif;
  color: var(--foreground);
  transition: color 0.2s ease-in-out;
  font-style: italic;
}

/* Responsive Design */
@media (min-width: 768px) {
  .right-side-navigation {
    padding-right: 20px;
  }
}
